<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>All Employees</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1> Employee </h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<table class="table">
					<thead>
						<tr>
							<th> Employee </th>
							<th> Department </th>
						</tr>
					</thead>
					<tbody>
						<tr th:if="${emps.empty}">
							<td colspan="2"> No Employee Available </td>
						</tr>
						<tr th:each="Employee : ${emps}">
							<td><span th:text="${Employee.empName}"> Employee </span></td>
							<td><span th:text="${Employee.departmentName}"> Department </span></td>
							<td><a class="btn btn-success" href="#"
									th:href="@{/emp/showFormForUpdate/{id}(id=${Employee.empId})}"> Edit </a></td>


							<td>
								<form th:action="@{/emp/deleteEmployee/{id}(id=${Employee.empId})}" th:method="delete">
									<button class="btn btn-success">delete</button>
								</form>


							</td>


						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-md-6">
				<a class="btn btn-success" href="#" th:href="@{/emp/createEmployee}"> Add Employee </a>
				<a class="btn btn-success" href="#" th:href="@{/dept/getDeprtment}"> Department </a>
			</div>
		</div>
	</div>
</body>

</html>